# ðŸ“Š Practice: joint Probability, Marginal Probability & Contingency Table 

This notebook covers:
- Joint Prnbability
- Marginal Probability
- Contingency Table
with simple examples.

## ðŸ“‘ Practice Questions

### 1. define Joint Probability 
Joint probability is the probability that **tow events occur together**.

Written as:
P(A âˆ© B)

Example: Probaility that a student is **Fenale AND Pass**.

---

### 2. What is Marginal Probanility?
Marginal probaility is tha probabilty of **Only one event**, ignoring others.

It is calculated using **row or colum totals** of a table.

---

### 3. Why Contingency Tables are Useful?

Contingency tables help to:

- Show relationship between tow variables
- Calculate joint probility
- calculate marginal probability
- compare groups
- Find patterns

They are mainly used for **categorical data**.

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

#Creating contingency table data
data = {
    "Gender": ["Male", "Male", "Female", "Female"],
    "Result": ["Pass", "Fail", "Pass", "Fail"],
    "Count": [30, 10, 40, 20]
}

df = pd.DataFrame(data)
df

   Gender Result  Count
0    Male   Pass     30
1    Male   Fail     10
2  Female   Pass     40
3  Female   Fail     20

## ðŸ“Œ Contingency Table

In [8]:
table = pd.pivot_table(df, values="Count", index="Gender", columns="Result", aggfunc="sum", margins=True)
table

Result  Fail  Pass  All
Gender
Female    20    40   60
Male      10    30   40
All       30    70  100

## ðŸ“Œ Joint probability Example

Probability of Female AND Pass

In [11]:
total = table.loc["All", "All"]
print("Total:", total)

joint_prob = table.loc["Female", "Pass"] / total
print("Joint Probability (Female and Pass):", joint_prob)

Total: 100
Joint Probability (Female and Pass): 0.4

## ðŸ“Œ Marginal Probability Examples

In [12]:
p_female = table.loc["Female", "All"] / total
p_pass = table.loc["All", "Pass"] / total
p_female, p_pass

(np.float64(0.6), np.float64(0.7))

## âœ… Concusion

- Joint Probability -> Tow events together
- Marginal Probaility -> Single event
- Contingency Table -> Show relationship between veriables

These concepts are widely used in statistics and data analysis.

# ðŸ“Œ Mini Assignment
## Student Pass/Fail vs Gender - Probability analysis

Taske:
- Create dataset
- Contingency table
- Joint & Marginal probability
- venn diagram

In [19]:
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib_venn import venn2

data = {
    "Gender": ["Male","Male","Male","Male","Female","Female","Female","Female","Female","Male"],
    "Result": ["Pass","Fail","Pass","Fail","Pass","Fail","Pass","Fail","Pass","Pass"],
}

df = pd.DataFrame(data)
df

   Gender Result
0    Male   Pass
1    Male   Fail
2    Male   Pass
3    Male   Fail
4  Female   Pass
5  Female   Fail
6  Female   Pass
7  Female   Fail
8  Female   Pass
9    Male   Pass

## ðŸ“Œ Contingency Table (Gender VS Result)

In [15]:
table = pd.crosstab(df["Gender"], df["Result"], margins=True)
table

Result  Fail  Pass  All
Gender
Female     2     3    5
Male       2     3    5
All        4     6   10

## ðŸ“Œ Joint Probability (Female AND Pass)

In [16]:
total = table.loc["All", "All"]

joint_prob = table.loc["Female", "Pass"] / total
joint_prob

np.float64(0.3)

## ðŸ“Œ Marginal Probability

In [17]:
p_female = table.loc["Female", "All"] / total
p_pass = table.loc["All", "Pass"] / total
p_female, p_pass

(np.float64(0.5), np.float64(0.6))

## ðŸ“Œ Venn Diagram (Pass VS Female)

Circle A -> Female
Circle B -> Pass

In [ ]:
female = set(df[df["Gender"] == "Female"].index)
pass_ = set(df[df["Result"] == "Pass"].index)

venn2([female, pass_], set_labels = ("Female", "Pass"))
plt.title("Venn Diagram of Gender and Result")
plt.show()